
<button class="btn btn-info" [disabled]="isDisabled">Add Product</button>

<br>
<br>

<input type="text" [value]="'Iphone-14'"  class="form-control">
<br>
<p class="info">
    The product name is {{pName}} with product ID {{pId}} and status is {{pStatus}}
</p>


<!-- <strong [innerHTML]="pName">

</strong>
<br>
<strong [innerHTML]="'Iphone-14'">

</strong> -->


<!-- // 
    let p = document.getElementbyid("info")
    p.innerHTML = ""
    innerHTML , innertext, textContent , value, classList 

-->